/* SidePanel.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #d1d1d1, -5px -5px 15px #ffffff;
  width: 200px; /* Adjusted to match the sidebar width */
  margin: 5px;
  box-shadow: inset 2px 2px 5px #d1d1d1, inset -2px -2px 5px #ffffff;
  cursor: pointer;
  justify-content: center;
}

.container:hover {
  box-shadow: 2px 2px 15px #d1d1d1, -2px -2px 15px #ffffff;
  transform: translateY(-3px);
}

.searchelement,
.subitem,
.item {
  color: #E34A3E;
  font-size: 14px; /* Slightly smaller font */
  font-weight: 550;
  height: 43px; /* Reduced height */
  width: 100%;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin-top: 8px; /* Reduced margin */
}

.collapsedRectangle,
.expandedRectangle {
  position: absolute;
  top: 0;
  left: 0;
  background: #e9e9e9;
  border-radius: 12px;
  box-shadow: inset 2px 2px 5px #c1c1c1, inset -2px -2px 5px #ffffff;
  cursor: pointer;
  transition: height 0.3s ease-in-out, box-shadow 0.2s;
}

.sidebar {
  background: #e9e9e9;
  border-radius: 20px;
  border: 2px solid #e9e9e9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15), -3px -3px 3px rgba(255, 255, 255, 0.6);
  width: 238px;
  padding: 12px;
  margin-left: 10px;
  margin-top: 0px;
  transition: all 0.3s ease;
  height: auto; /* Let content determine height */
  max-height: 480px; /* Limit overall height */
  overflow-y: auto; /* Enable vertical scrolling if needed */

  /* Flexbox to distribute space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Scrollbar styling */
.sidebar::-webkit-scrollbar {
  width: 7px; /* Set scrollbar width */
  background-color: transparent; /* Transparent background */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Initially transparent */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(157, 157, 157, 0.5); /* Visible thumb on hover */
}



.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 15px;
}

.button button {
  background: #E34A3E; /* Red background */
  border: none;
  color: #ffffff; /* White font */
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.3); /* Neomorphic outer shadow */
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px; /* Add space between buttons */

}

.button button:hover {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4), inset -4px -4px 8px rgba(255, 255, 255, 0.4); /* Inset shadows on hover */
  transform: translateY(-3px); /* Slight lift effect */
}

.clearButton {
  background: #E34A3E; /* Red background */
  border: none;
  color: #ffffff; /* White font */
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.3); /* Neomorphic outer shadow */
  cursor: pointer;
  transition: all 0.3s ease;
}

.clearButton:hover {
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4), inset -4px -4px 8px rgba(255, 255, 255, 0.4); /* Inset shadows on hover */
  transform: translateY(-3px); /* Slight lift effect */
}



.caseNoList {
  max-height: 250px;
  width: 185px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #d1d1d1, inset -5px -5px 10px #ffffff;
}

.caseNoItem {
  padding: 10px;
  font-size: 14px;
  background: #ffffff;
  box-shadow: inset 2px 2px 5px #d1d1d1, inset -2px -2px 5px #ffffff;
  transition: background 0.2s ease, color 0.2s ease;
  color: #333;
}
.caseNoItem:hover {
  background: #333;
  color: #ffffff;
}

.caseNoList::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}

.caseNoList::-webkit-scrollbar-thumb {
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 10px;
}
