.appWrapper{
  padding: 40px;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.card {
  background-color: #e9e8e8;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #d14900;
  margin-bottom: 1rem;
  max-width: 300px;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  text-align: center;
}

.mostPopular {
  font-size: 15px;
  font-weight: 700;
  background-color: #9b59b6;
  color: #fff;
  padding: 0.25em 1rem;
  border-radius: 15px;
  text-transform: uppercase;
}

.free {
  border-top: 6px solid #1abc9c;
}

.basic {
  border-top: 6px solid #3498db;
}

.medium {
  border-top: 6px solid #9b59b6;
}

.pro {
  border-top: 6px solid #f1c40f;
}

.cardDescription {
  padding: 15px;
}

.cardDescription h2 {
  font-size: 26px;
  margin-bottom: 0.5rem;
}

.cardBilling {
  background-color: #ecf0f1;
  padding: 15px;
}

.cardBilling p {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 32px;
  font-weight: 700;
}

.cardFeatures {
  padding: 15px;
  min-height: 150px;
}

.cardFeatures ul li {
  margin-bottom: 0.5rem;
}

.cardAction {
  padding: 15px;
}

.cardAction button {
  border-color: #dc3a04;
  background-color: transparent;
  color: #6d6d6d;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 0;
  width: 100%;
  transition: 0.3s ease all;
}

.cardAction button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s ease all;
}
